<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722124585388-4e19upde6vn361mjk24nsb4kffa5j93a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722124585388-4e19upde6vn361mjk24nsb4kffa5j93a</string>
	<key>API_KEY</key>
	<string>AIzaSyDVB5qyvgx-N5E7xVBxwYYbIlZqxU4r5-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>722124585388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.airell.A4-NotesApp</string>
	<key>PROJECT_ID</key>
	<string>notesapp-62708</string>
	<key>STORAGE_BUCKET</key>
	<string>notesapp-62708.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722124585388:ios:2c3cff5bac9b817f842209</string>
</dict>
</plist>